
<% @recipes.each do |recipe| %>
<div class="recipe-display">
  <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
  <h4><%= recipe.cook_time %> min</h4>
  <h5><%= recipe.description %></h5>
</div>

<% end %>
